.logo {
    text-decoration: none;
    font-size: 25px;
}
/* .navbar{
    justify-content: space-between !important;
} */
:root{
    --bs-primary: hsl(48deg 33.33% 97.06% / 80%) !important;
}
.bg-body-tertiary {
    background-color: var(--bs-primary) !important;
}
a{
    color: #333 !important;
}

